PIA_CTL_PATH=C:\Program Files\Private Internet Access\piactl.exe
PIA_GUI_PATH=C:\Program Files\Private Internet Access\pia-client.exe
PIA_COMMAND_TIMEOUT_SECONDS=30
PIA_CONNECT_TIMEOUT_SECONDS=90
PIA_RECONNECT_DELAY_SECONDS=3
PIA_REFRESH_MAX_ATTEMPTS=0
PIA_REFRESH_TIMEOUT_SECONDS=180
DEFAULT_VPN_PROVIDER=pia
HMA_NM_PATH=C:\Program Files\Privax\HMA VPN\VpnNM.exe
HMA_GUI_PATH=C:\Program Files\Privax\HMA VPN\Vpn.exe
HMA_SERVICE_NAME=HmaProVpn
HMA_COMMAND_TIMEOUT_SECONDS=30
HMA_CONNECT_TIMEOUT_SECONDS=90
HMA_RECONNECT_DELAY_SECONDS=3
HMA_REFRESH_MAX_ATTEMPTS=1
HMA_REFRESH_TIMEOUT_SECONDS=180
EXPRESSVPN_CTL_PATH=C:\Program Files\ExpressVPN\expressvpnctl.exe
EXPRESSVPN_GUI_PATH=C:\Program Files\ExpressVPN\expressvpn-client.exe
EXPRESSVPN_COMMAND_TIMEOUT_SECONDS=30
EXPRESSVPN_CONNECT_TIMEOUT_SECONDS=90
EXPRESSVPN_RECONNECT_DELAY_SECONDS=3
EXPRESSVPN_REFRESH_MAX_ATTEMPTS=0
EXPRESSVPN_REFRESH_TIMEOUT_SECONDS=180
PROTON_OPENVPN_PATH=C:\Program Files\Proton\VPN\v4.4.1\Resources\openvpn.exe
PROTON_OVPN_CONFIG_PATH=
PROTON_OVPN_CONFIG_DIR=C:\Program Files\Proton\configs
PROTON_OPENVPN_AUTH_FILE=C:\Program Files\Proton\auth.txt
PROTON_OPENVPN_PID_FILE=.proton-openvpn.pid
PROTON_OPENVPN_CLEANUP_ORPHAN_PROCESSES=true
PROTON_COMMAND_TIMEOUT_SECONDS=30
PROTON_CONNECT_TIMEOUT_SECONDS=90
PROTON_RECONNECT_DELAY_SECONDS=3
PROTON_REFRESH_MAX_ATTEMPTS=0
PROTON_REFRESH_TIMEOUT_SECONDS=180
PROTON_IP_CHECK_URL=https://api.ipify.org
API_HOST=127.0.0.1
API_PORT=8000
API_KEY=
